*{

    margin:0;
    padding: 0;
    /* background-color:rgba(9, 12, 10, 0.961); */
    color:aliceblue;
    box-sizing: border-box;
    height:100%
    

}
body{
    /* background:linear-gradient(lightblue,lightpink,lightgreen); */
    /* background-image:-moz-linear-gradient(lightgreen,); */
    background-color: black;
}
.logo{

    width: 20em;
    height:40px;
    padding-left: 0;
}
.heading{

    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    /* font-size:1.5em;
     */
    background-color: rgb(59, 53, 53);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1px 10%;
    

}
li{
    display:inline-block;
    padding: 10px;
    font-size:1.3em;
    text-decoration: none;


}
.img1{

    height:450px;
    weight:1000px;
    margin: 40px;
    border-radius: 1000px;
    /* display:flex; */


    

}
div{
    display: flex;
    justify-content: center;
    
}
div p{
    padding-top:200px;
}
p{
    /* text-transform: lowercase; */
    font-size:1.2rem;
    font-family: 'Times New Roman', Times, serif;
}
